.fail {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: red;
  border: solid 3px red;
  border-radius: 10px;
  background-color: lightgrey;
}

.success {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: green;
  border: solid 3px green;
  border-radius: 10px;
  background-color: lightgrey;
}